<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/view.css" />
  </head>
  <body>
    <body>
      <h3>Job Application Form</h3>
      <fieldset>
        <legend>Basic Details</legend>
        <div class="div1">
          <div class="div">
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" id="first_name" />
          </div>
          <div class="div">
            <label for="last_name">Last Name: </label>
            <input type="text" id="last_name" name="last_name" />
          </div>
        </div>
        <div class="div1">
          <div class="div">
            <label for="designation">Designation: </label>
            <input type="text" id="designation" name="designation" />
          </div>
          <div class="div">
            <label for="address1">Address 1: </label>
            <input type="text" id="address1" name="address1" />
          </div>
        </div>
        <div class="div1">
          <div class="div">
            <label for="email">Email: </label>
            <input type="text" id="email" name="email" />
          </div>
          <div class="div">
            <label for="address2">Address 2: </label>
            <input type="text" id="address2" name="address2" />
          </div>
        </div>
        <div class="div1">
          <div class="div">
            <label for="phone">Phone Number: </label>
            <input type="text" id="phone" name="phone" />
          </div>
          <div class="div">
            <label for="state">State: </label>
            <select name="state" id="state">
              <option value="">Select State</option>
            </select>
          </div>
        </div>
        <div class="div1">
          <div class="div">
            <label for="gender">Gender: </label>
            <input type="radio" name="gender" id="male" value="male" />
            <label for="male">male</label>
            <input type="radio" name="gender" id="female" value="female" />
            <label for="female">female</label>
          </div>
          <div class="div">
            <label id="cityLabel" for="city">City: </label>
            <select name="city" id="city">
              <option value="">Select City</option>
            </select>
          </div>
        </div>
        <div class="div1">
          <div class="div">
            <label for="dob">Date Of Birth: </label>
            <input
              type="text"
              placeholder="Format: 'YYYY/MM/DD'"
              name="dob"
              id="dob"
            />
          </div>
          <div class="div">
          </div>
          <div class="div">
            <label for="zipCode">Zip Code: </label>
            <input type="text" name="zipCode" id="zipCode" />
          </div>
        </div>
        <div class="div1">
          <div class="div">
            <label for="relationshipStatus">Relationship Status: </label>
            <select name="relationshipStatus" id="relationshipStatus">
              <option value="Single">Single</option>
              <option value="Married">Married</option>
            </select>
          </div>
        </div>
      </fieldset>
        <fieldset>
          <legend>Education Details</legend>
          <div id="div5">
            <div class="div1" id="div1">
              <div class="div">
                <label for="courseName1">Couse Name: </label>
                <input type="text" name="courseName1" id="courseName1"/>
              </div>
              <div class="div">
                <label for="board_university1">Board/University</label>
                <input
                  type="text"
                  name="board_university1"
                  id="board_university1"
                />
              </div>
              <div class="div">
                <label for="passingYear1">Passing Year: </label>
                <input type="text" name="passingYear1" id="passingYear1"/>
              </div>
              <div class="div">
                <label for="percentage1">Percentage: </label>
                <input type="text" name="percentage1" id="percentage1"/>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Work Experience</legend>
          <div id="div7">
            <div class="div1" id="div11">
              <div class="div">
                <label for="companyName1">Company Name: </label>
                <input type="text" name="companyName1" id="companyName1"/>
              </div>
              <div class="div">
                <label for="workExperienceDesignation1">Designation: </label>
                <input
                  type="text"
                  name="workExperienceDesignation1"
                  id="workExperienceDesignation1"
                />
              </div>
              <div class="div">
                <label for="fromDate1">From: </label>
                <input type="text" name="fromDate1" id="fromDate1"/>
              </div>
              <div class="div">
                <label for="toDate1">To: </label>
                <input type="text" name="toDate1" id="toDate1"/>
              </div>
            </div>
          </div>
        </fieldset>
        <div>
          <fieldset>
            <legend>Language Known</legend>
            <div class="div1">
              <label></label>
              <div class="div">
                <input
                  type="checkbox"
                  disabled
                  value="Read"
                />
                <label>Read</label>
              </div>
              <div class="div">
                <input
                  type="checkbox"
                  disabled
                  value="Write"
                />
                <label>Write</label>
              </div>
              <div class="div">
                <input
                  type="checkbox"
                  disabled
                  value="Speak"
                />
                <label>Speak</label>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Technologies you know</legend>
            <div class="div1">
              <label></label>
              <div class="div">
                <input
                  type="radio"
                  disabled
                  value="Beginner"
                />
                <label>Beginner</label>
              </div>
              <div class="div">
                <input
                  type="radio"
                  disabled
                  value="Mediator"
                />
                <label>Mediator</label>
              </div>
              <div class="div">
                <input type="radio" disabled/>
                <label>Expert</label>
              </div>
            </div>
          </fieldset>
        </div>
        <fieldset>
          <legend>Reference Contact</legend>
          <div id="div9">
            <div class="div1" id="div111">
              <div class="div">
                <label for="referenceContactName1">Name: </label>
                <input
                  type="text"
                  name="referenceContactName1"
                  id="referenceContactName1"
                />
              </div>
              <div class="div">
                <label for="contactNumber1">Contact Number: </label>
                <input type="text" name="contactNumber1" id="contactNumber1"/>
              </div>
              <div class="div">
                <label for="relation1">Relation: </label>
                <input type="text" name="relation1" id="relation1"/>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Preferances</legend>
          <div class="div1">
          <div class="div-preferdLocation">
            <label for="preferdLocation">Preferd Location: </label>
            <select name="preferdLocation" id="preferdLocation" multiple disabled>
              <option value="Item One">Item One</option>
              <option value="Item Two">Item Two</option>
              <option value="Item Three">Item Three</option>
            </select>
          </div>
            <div class="div2">
              <div class="div">
                <label for="notice_period">Notice Period: </label>
                <input type="text" name="notice_period" id="notice_period"/>
              </div>
              <div class="div">
                <label for="expactedCTC">Expacted CTC: </label>
                <input type="text" name="expactedCTC" id="expactedCTC"/>
              </div>
              <div class="div">
                <label for="currentCTC">Current CTC: </label>
                <input type="text" name="currentCTC" id="currentCTC"/>
              </div>
            </div>
            <div class="div">
              <label for="department">Department: </label>
              <select name="department" id="department" disabled>
                <option value="Development">Development</option>
                <option value="Design">Design</option>
                <option value="Marketing">Marketing</option>
              </select>
            </div>
          </div>
        </fieldset>

      <script src="/javascript/view.js"></script>
    </body>
  </body>
</html>
