.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
}

select, input[type=text] {
    width: 180px;
}

h3{
    text-align: center;
}

fieldset {
    margin-bottom: 15px;
}

legend{
    font-size: 15px;
    font-weight: bold;
}

.div-preferdLocation {
    display: flex;
}

.div-preferdLocation > select {
    width: 100px;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.div-button {
    display: flex;
    justify-content: center;
}

.div-button > input {
    width: 120px;
    padding: 5px;
}

.div-button > input[type=reset] {
    background-color: rgb(3, 79, 165);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
}

.div-button > input[type=submit] {
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.button {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

#buttonDiv {
    text-align: center;
}